* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body {
  background: rgb(238, 244, 249);
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.title {
  margin-top: 80px;
  width: 50%;
}

.form-button {
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
  background-color: rgb(133, 213, 239);
  cursor: pointer;
}

.form-button:hover {
  background-color: rgb(91, 169, 195);
}

.template-options {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(127, 125, 125);
}

.list:hover {
  color: black;
  font-weight: bold;
}

.list {
  cursor: pointer;
  margin-left: 30px;
  padding: 10px;
}

.list-clicked {
  background-color: rgb(228, 228, 245);
  border-radius: 20px;
  color: black;
  font-weight: bold;
}

.templates {
  /* templates */
  left: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  margin: 20px 20px 0 20px;
  overflow-y: scroll;
  height: 400px;
}

.template-list {
  position: relative;
  flex: 0 0 calc(20% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.template-list img {
  max-width: 100%;
  height: 350px;
}

.template-list .bottom-template {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.template-list:hover .bottom-template {
  opacity: 1;
}

.template-list .bottom-template button {
  padding: 6px;
  border-radius: 10px;
  border-color: rgb(54, 134, 160);
  background-color: lightblue;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  .template-list {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {

  .template-list {
    flex: 0 0 100%;
  }
}

.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;
}

.popup-body {
  position: absolute;
  background: white;
  border-radius: 8px 8px 0 0;
  width: 430px;
  padding: 20px 20px;
}

@keyframes dropBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.home-document {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.profile {
  color: rgb(19, 19, 57);
  border-radius: 2px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: rgb(190, 99, 229);
  border-radius: 50%;
  top: 0px;
  position: absolute;
  right: 0px;
}

.profile-header{
  top: 15px;
  right: 15px;
  position: absolute;
}

.profile-header:hover {
  background-color: rgb(201, 213, 244);
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

}

.form-control {
  margin-top: 15px;
}

.form-control button{
  background-color: rgb(143, 143, 196);
  cursor: pointer;
}

.form-control button:hover{
  background-color: rgb(176, 176, 255);
}

.form-input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
  font-size: 15px;
  border-color: rgb(246, 238, 227);
  box-shadow: inset 1px 1px 5px -1px darkgrey;
  transition: border-color 0.3s;
}

.form-input:hover{
  border-color: rgb(142, 142, 242);
}

.bottom-color {
  width: 100%;
  height: 150px;
  bottom: 0;
  position: fixed;
  background-color: rgb(71, 71, 169);
  clip-path: polygon(0 100%, 100% 100%, 100% 75%, 52% 50%, 48% 50%, 0 75%);
  z-index: 1;
}



@media screen and (max-width: 400px) {
  .popup-body {
    width: 100%;
  }

  .template-options {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .title {
    width: 60%;
  }
}
